<h1>View All Guests</h1>
{{#each guest}}
  <div class="ui divided items">
    <div class="item">
        <div class="content">
            <a class="header">{{fullname}}</a>
            <div class="meta">
              <span class="cinema">{{email}}</span>
            </div>
            <div class="description">
              <p>{{comment}}</p>
            </div>
            <form action="/guest/{{id}}?_method=DELETE" method="post" class="extra"> 
              <a href="/edit/{{id}}" class="mini ui button">Edit</a>
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" class="ui right floated delete negative button" value="Delete Entry">
            </form>
            <hr>
        </div>
      </div>
  </div>
  {{else}}
    <p>No Guest Found</p>
{{/each}}
